PyYAML>=6.0.2
flask>=3.0.3
flask-cors>=4.0.1
python-dotenv>=1.0.1
pydantic>=2.9.2
cohere>=5.5.8
langchain>=0.2.14
langchain-chroma>=0.1.2
langchain-huggingface>=0.0.3
langchain-community>=0.2.14
langchain-cohere>=0.2.2
requests>=2.32.3
python-multipart>=0.0.9
pytz>=2024.1
langgraph>=0.1.0
fastapi>=0.115.2
uvicorn>=0.30.6
aiofiles>=24.1.0
