flask
flask-cors
python-dotenv
pydantic
cohere==5.5.3
langchain==0.3.0
langchain-core==0.3.0
langchain-community==0.3.0
langchain-cohere==0.3.0
langchain-chroma==0.1.0
langchain-huggingface==0.1.0
requests
python-multipart
pytz
langgraph==0.1.0
fastapi
uvicorn
aiofiles
